__pycache__/
*.pyc
*.pyo
.env
.cache/
.poetry/
node_modules/
.next/
.mobile_build/
.DS_Store
*.xcworkspace
build/
.gradle/
.idea/

# Build outputs
**/bin/
**/obj/

# User-specific
*.user
*.userosscache
*.suo
*.sln.docstates

# Tooling
.vs/

# Misc
*.log
*.tmp
*.temp

